body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .content {
    margin: 0 auto;
    text-align: center;
  }

  code {
    padding: 20px;
  }

  .codebox {
    padding: 10px;
  }

  .headerHome {
    padding: 20px;
  }
}
