body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .content {
    margin: 0 auto;
    text-align: center;
  }

  .codebox {
    padding: 20px;
  }

  .headerMain {
    padding-top: 35px;
  }

  .headerHome {
    padding: 40px;
  }

  .exHeader {
    padding-top: 50px;
  }

  .backend-ss {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
  }

  .frontend-ss {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
  }
}

.frontend-ss, .backend-ss {
  width: 70em;
}
