body {
  font-family: sans-serif;
}
  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .content {
    margin: 0 auto;
    text-align: center;
  }

  .codebox {
    padding: 20px;
  }

  .headerMain, .headerHome {
    font-weight: bold;
    margin: 0 0 25px 0;
  }

  .headerHome:first-child{
    padding-top: 35px;
    font-weight: bold;
  }

  .subheader {
    margin: 25px 0;
  }

  .backend-ss {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
  }

.frontend-ss {
  padding: 20px 0;
  margin: 0 auto;
}


.frontend-ss, .backend-ss {
  width: 70em;
}

.update {
  color: red;
}

.logo {
    width: 200px;
    padding-left: 60px;
}

.title {
   font-family: 'Bungee Inline';
   font-size: 25px;
}

// new
@media (min-width: 992px) {
.vertical-overflow.hang-right {
    position: relative;
    left: 8%;
    padding: 20px;
}
}

@media (min-width: 992px) {
.vertical-overflow.hang-left {
    position: relative;
    left: 10%;
    padding: 20px;
  }
}

.containerHome {
    width: 100%;
}

hr {
  border-top: 1px solid #5085a5;
  margin: 25px 0;
}
