.links {
  text-align: center;
}

.results {
  list-style-type: none;
  // border: 1px solid black;
  padding: 20px;
}

span.score {
    float: right;
}

.vendorIcon {
  width: 25px;
  float: left;
}

.btn-success{
  background-color: #687864;
  border-color: #767976;
}

.btn-success:hover, .btn-success:focus, .btn-success:visited{
    background-color: #555b54;
    border-color: #767976;
}

.glyphicon {
  font-size: 14px;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #5085A5;
    border-color: #5085A5;
}

.stackResults .panel-heading{
  color: #5085A5;
  background-color: rgba(220, 219, 210, 0.69);
  border-color: #5085A5;
}

.stackResults a {
  color: #5085A5;
}

.stackResults a:hover {
  color: #337ab7;
}

.panel-body, .col-md-12{
  // text-align: left;
}

.body-heading {
  border-bottom: 1px solid #5085A5;
  margin: 0 0 10px 0;
}

.body {
  text-align: left;
  padding: 0 12%;
}

.loginSignupButton {
  color: #337ab7 !important;
}

.loginSignupButton:hover, .loginSignupButton:focus, .loginSignupButton:active {
  color: #1f5a8c !important;
}

