.results {
  list-style-type: none;
  border: 1px solid black;
  padding: 20px;
}

span.score {
    float: right;
}

img {
  width: 30px;
}

.btn-success{
  background-color: #687864;
  border-color: #767976;
}

.btn-success:hover, .btn-success:focus, .btn-success:visited{
    background-color: #555b54;
    border-color: #767976;
}
