body form div {
  margin: 1em 0;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    text-align: left;
}

.col-md-3 {
  text-align: center;
}

.control-group {
  display: block;
}

.form-horizontal .control-label {
  text-align: left;
}

.btn-success{
  background-color: #8FC1E3;
  border-color: #5085A5;
}

.btn-success:hover, .btn-success:focus, .btn-success:visited {
    background-color: #555b54;
    border-color: #767976;
}
