body form div {
  margin: 1em 0;
}

.col-md-12 {
  text-align: center;
}

.control-group {
  display: block;
}

.form-horizontal .control-label {
  text-align: center;
}

.btn-success{
  background-color: #687864;
  border-color: #767976;
}

.btn-success:hover, .btn-success:focus, .btn-success:visited{
    background-color: #555b54;
    border-color: #767976;
}

img {
  width: 50px;
}

.btn-stackExchange {
  color: white;
  background-color: #337ab7;
}

.btn-stackExchange:hover, .btn-stackExchange:active, .btn-stackExchange:focus {
  color: white;
  background-color: #2b608e;
}

.btn-github, .btn-google, .btn-stackExchange {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.btn-success:active, .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
  background-color: #555b54;
  border-color: #767976;
}

